/* style.css */
body{
  background: rgb(245,245,245);
  color: #62929E;
  font-size: 16px;
  font-weight: lighter;
  font-family: Open Sans;
  margin: 0;
}

h1{
  font-family: Roboto;
  font-weight: bolder;
  font-size: 50px;
}

h2 {
  font-family: Roboto;
  color: #546A7B;
  font-weight: bolder;
  font-size: 30px;
}

a {
  color: #C6C5B9;
}

a:hover {
  text-decoration: underline;
  font-weight: bolder;
  color: purple;
}

#banner{
  text-align: center;
  background-image: url("https://unsplash.it/1000/600?random");
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  color: white;
}
#banner h1 {
  font-size: 50px;
}
#banner p {
  margin-bottom: 40px;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}
#footer{
  padding: 30px;
  background-color: black;
  color: lightgrey;
}
.card-white {
  background-color: white;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  padding: 16px;
  margin: 16px 0px;
}
.card-white img {
  margin-bottom: 20px;
}

.btn-blue {
  color: white;
  background-color: #6772e5;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  padding: 15px 20px;
}

.btn-blue:hover {
  background-color: #7795f8;
  color: white;
}

#footer a {
  color: lightgrey;
  font-size: 32px;
}
#footer a:hover {
  color: white;
}